@charset "UTF-8";

body
{
	background-color:#f4f4f4;
}

table
{
	background-color:white;
	width: 100%;
	border : 1px solid #424242;
}
input[type="text"]
{
	height: 40px;
}
/* index 중앙 목록 div 영역 나누기 */
#divcon
{
	background-color: #CEF6F5;
	text-align: center; 
	height: auto;
	width:100%;
	display:block;
	border: 1px solid black;
	overflow:auto;
}
#divleft
{
	width: 40%; 
	float: left; 
	margin-left: 5%;
}
#divright
{
	width: 40%; 
	float: right; 
	margin-right: 5%;
}
/* nav로 menu 구분 */
#nav_table
{
	background-color:#0000FF;
	height: 30px;
}

#nav_menu
{
	text-align: center;
	float: center;
	width: auto;
	font-size: 20px;
}

#subtable
{
	background-color: #819FF7;
	text-align: center;
}
#submenu
{
	width: auto;
}
#footer
{
	background-color: #A4A4A4;
	text-align: center;
	color: #81F7F3;
}

.submenu
{
	background-color: #f4f4f4;
	height: 40px;
	text-align: center;
	padding-top: 14px;
}

.submenu:hover
{
	background-color: #cccccc;
}

a:link
{
	text-decoration : none;
}

#jbar
{
	background-color: #A4A4A4;
}

a.btn
	{
	display:inline-block; min-width:60px; height:auto; 
	text-decoration:none !important; padding:6px 10px; color:#fff; 
	font-size:14px; line-height:17px; text-align:center; vertical-align:middle;
	font-family:NGB,'나눔고딕',NanumGothic,NG,'돋움',dotum,Helvetica,sans-serif; font-weight:600; 
	/*box-shadow:1px 1px 3px rgba(0,0,0,0.5);*/
	}
a.btn:hover			{}
a.btn.sfn			{margin-left:2px; background:#0078e0; }/*처리용*//*조금작은크기*/
a.btn.sfnmore		{margin-left:2px; background:#0081a6; }/*처리용다른색*//*조금작은크기*/
a.btn.sfnr			{margin-left:2px; background:#ff6600; }/*처리용다른색*//*조금작은크기*/
a.btn.sfnr2			{margin-left:2px; background:#FE2E2E; }/*처리용다른색*//*조금작은크기*/
a.btn.sfnm			{margin-left:2px; background:#f90000; }/*처리용다른색*//*조금작은크기*/
a.btn.sfno			{margin-left:2px; background:#ea7d35; }/*처리용다른색*//*조금작은크기*/
a.btn.sfnnomal		{margin-left:2px; background:#788090; }/*일반버튼*//*조금작은크기*/

a.btn.fn			{margin-left:2px; background:#0078e0; padding:8px 10px; }/*처리용*/
a.btn.fnr			{margin-left:2px; background:#ff6600; padding:8px 10px; }/*처리용 삭제*/
a.btn.fnm			{margin-left:2px; background:#f90000; padding:8px 10px; }/*처리용다른색*/
a.btn.fnmore		{margin-left:2px; background:#0081a6; padding:8px 10px; }/*처리용다른색*/
a.btn.fnnomal		{margin-left:2px; background:#788090; padding:8px 10px; }/*일반버튼*/

a.btt
{
	display:inline-block;
	height:auto;
	padding:10px 12px;
	font-size:24px;
	text-align:center;
}
a.btt.main
{
	margin-left:2px; background:#0078e0; 
}

.btn2:before{
  content:'';
  height:100%;
  display:inline-block;
  vertical-align:middle;
}

.btn2{
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
.btn2:hover{
  background:#fff;
  color:#1AAB8A;
}


.btn2:before,.btn2:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
.btn2:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.btn2:hover:before,.btn2:hover:after{
  width:100%;
  transition:800ms ease all;
}


.minibtn:before{
  content:'';
  height:100%;
  
  display:inline-block;
  vertical-align:middle;
}

.minibtn{
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:40px;
  font-size:1.2em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
.minibtn:hover{
  background:#fff;
  color:#1AAB8A;
}


.minibtn:before,.minibtn:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
.minibtn:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.minibtn:hover:before,.minibtn:hover:after{
  width:100%;
  transition:800ms ease all;
}

.mini
{
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:40px;
  width: 20%;
  font-size:1.2em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
.mini:hover{
  background:#fff;
  color:#1AAB8A;
}

#subbtn
{
	width: 20%;
	font-size: 20px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-right:  -4px;
}
#subbtn2
{
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-right:  -3px;
}
#subbtng #subbtn
{
	border: 1px solid skyblue;
	background-color: rgba(0,0,0,0);
	color: skyblue;
	padding: 5px;
}
#subbtng #subbtn:hover
{
	color:white;
	background-color: skyblue;
}









