<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace = "com.ss.demo.mapper.CommunityMapper">

	<!-- 글 쓰기 -->
	<insert id = "insertBoard" parameterType = "Community_BoardVO">
		INSERT INTO community_board
					(
						uNo,
						board_title,
						board_type,
						board_content
					)
			 VALUES
			 		(
			 			#{user_number},
						#{board_title},
						#{board_type},
						#{board_content}
			 		)
	</insert>
	
	<!-- 전체 게시글 개수 얻기 -->
	<select id = "getBoardCount" resultType = "int">
		SELECT COUNT(*)
			AS count
		  FROM community_board
	</select>
	
	<!-- 특정 게시글 개수 얻기 -->
	<select id = "getBoardCount_TypeChoice" parameterType = "int" resultType = "int">
		SELECT COUNT(*)
			AS count
		  FROM community_board
		 WHERE board_type = #{boardType}
	</select>
	
	<!-- 전체 게시글의 페이지에 대한 게시글 정보 얻기 -->   
	<select id = "getBoardPage" parameterType = "java.util.Map" resultType = "Community_BoardVO">
		SELECT *,
				 (SELECT uName
				    FROM User
				   WHERE uNo = community_board.uNo)
				      AS user_name
				 <!--
				 (SELECT count(comment_number)
				 	FROM comment_list
				   WHERE board_number = community_board.user_number)
				 	  AS comment_count,
				 -->
		  FROM community_board
	  ORDER BY board_number
	      DESC limit #{offset}, #{unitPage}
	</select>
	
	<!-- 특정 게시글의 페이지에 대한 게시글 정보 얻기 -->   
	<select id = "getBoardPage_TypeChoice" parameterType = "java.util.Map" resultType = "Community_BoardVO">
		SELECT *,
				 (SELECT uName
				    FROM User
				   WHERE uNo = community_board.uNo)
				      AS user_name
				 <!--
				 (SELECT count(comment_number)
				 	FROM comment_list
				   WHERE board_number = community_board.user_number)
				 	  AS comment_count,
				 -->
		  FROM community_board
		 WHERE board_type = #{boardType}
	  ORDER BY board_number
	      DESC limit #{offset}, #{unitPage}
	</select>

</mapper>





