<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.ss.demo.mapper.foodMapper">
	<!-- 파라미터 객체의 필드값을 쿼리에 대입할때는 $기호 말고 #기호를 반드시 써야 합니다. -->


	<!-- selectAll  -->
	 <select id="selectAll" resultType="foodVO" parameterType="searchVO">
		SELECT *
		  FROM food 
		  LEFT OUTER JOIN (select * from food_attach where thumbnail = 'Y') D 
		  ON food.fNo = D.fNo
	  	 WHERE 1=1
	  	 
		<!-- 글 검색 -->
		<if test='searchType != null and searchType.equals("food_name")'>
		   AND food_name like concat('%', #{searchValue}, '%')
		</if>
		<if test='searchType != null and searchType.equals("food_address")'>
		   AND food_address like concat('%', #{searchValue}, '%')
		</if>
		
		<!-- 지역 검색 -->
		<if test='type != null and !type.equals("TT")'>
			AND LType = #{type}
		</if>
			order by food.fNo desc
	</select> 


	
	<!-- selectAllMenu  -->
	 <select id="selectAllMenu" resultType="foodVO">
		SELECT *
		  FROM food_menu
		  WHERE fNo = #{fNo}
	</select> 
	
		
		
	<!-- ================================= crud ========================================= -->	
	<!-- 글쓰기  -->
	<insert id="insert" parameterType="foodVO">
	<selectKey resultType="int" keyProperty="fNo" order="AFTER">
		SELECT LAST_INSERT_ID()
	</selectKey>
		INSERT INTO
		food(
			food_name
			,food_address
			,food_phone
			,food_food_kind
			,food_avg_price
			,food_write_date
			,food_working_hours
			,food_holiday
			,food_website
			,food_content
			,LType
		)VALUES(
			#{food_name}
			,#{food_address}
			,#{food_phone}
			,#{food_food_kind}
			,#{food_avg_price}
			,#{food_write_date}
			,#{food_working_hours}
			,#{food_holiday}
			,#{food_website}
			,#{food_content}
			,#{LType}
		)
	</insert>
	
	<!-- 글 수정  (사진 수정에 대해서 추가 수정할 것)-->
	<update id="update" parameterType="foodVO">
		UPDATE food
		   SET food_name = #{food_name} <!-- boardVO.getTitle() -->
		     , food_address = #{food_address}
		     , food_phone = #{food_phone}
		     , food_food_kind = #{food_food_kind}
		     , food_avg_price = #{food_avg_price}
		     , food_write_date = #{food_write_date}
		     , food_working_hours = #{food_working_hours}
		     , food_holiday = #{food_holiday}
		     , food_website = #{food_website}
		     , food_content = #{food_content}
		     , LType = #{LType}
		 WHERE fNo = #{fNo}
	</update>
	
	<!-- 글 삭제  -->
	<delete id="delete" parameterType="int">
		DELETE
		  FROM food
		 WHERE fNo = #{fNo}
	</delete>	
	
	<!-- =================================================================== -->
	<!-- 선택 -->
	<select id="selectOneByFno" resultType="foodVO" parameterType="int" >
		SELECT *
		  FROM food
		 WHERE fno = #{fno}
	</select>
	
	<!-- =================================================================== -->
	<!-- 선택(View페이지)  -->
	<select id="selectListByFno" resultType="foodVO" parameterType="int" >
		SELECT *
		  FROM food_attach
		 WHERE fno = #{fno}
	</select>
	
	
	
	<!-- =================================================================== -->
	<!-- @메뉴 등록@ -->
	
	<insert id="insertMenu" parameterType="foodVO">
		INSERT INTO
		food_menu(
			fNo
			,food_menu_name
			,food_menu_price
		)VALUES(
			#{fNo}
			,#{food_menu_name}
			,#{food_menu_price}
		)
		<selectKey order="AFTER" keyProperty="food_menu_number" resultType="int">
			SELECT MAX(food_menu_number)
		  	   FROM food_menu
		</selectKey> 
	</insert>
		
	
	
	
	<!-- =================================================================== -->
	<!-- @사진 등록@  -->
	<insert id="insert_file_attach" parameterType="foodVO">
		INSERT INTO food_attach(
			fNo,
			food_attach_logical_name,
			food_attach_physical_name
	<if test='thumbnail.equals("Y")'>
			,thumbnail
	</if>
		) VALUES (
			#{fNo},
			#{food_attach_logical_name},
			#{food_attach_physical_name}
	<if test='thumbnail.equals("Y")'>
			,#{thumbnail}
	</if>
		)
	</insert>
	
</mapper>