<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- persistance의 UserService_Mapper에서 메소드를 찾아서 매핑 -->
<!--  -->
<mapper namespace="com.ss.demo.persistence.UserService_Mapper">
<!-- id는 메소드이름 parameterType은 매개변수 타입  (별칭 설정은 mybatis_config에서 한다)-->
	<!-- 회원가입 -->
	<insert id="userInsert" parameterType="uv">
		insert into user(uId, uPw, uName, uNick, uPhone) values ( #{uId}, #{uPw}, #{uName}, #{uNick}, #{uPhone});
	</insert>
	<!-- 추후 암호화된 비밀번호도 조건으로 걸어준다 -->
	<!-- 로그인  -->
	<select id="userlogin" parameterType="uv" resultType="uv">
		select * from user where uDely="N" and uId=#{uId};
	</select>
	<!-- 로그인 시 비밀번호 확인  -->
	<!-- 닉네임 중복체크 -->
	<select id="uNickCheck" parameterType="String" resultType="int">
		select count(*) as cnt from user where uDely="N" and uNick=#{uNick};
	</select>
	<!-- id(email) 중복체크 -->
	<select id="uIdCheck" parameterType="String" resultType="int">
		select count(*) as cnt from user where uDely="N" and uId=#{uId};
	</select>
	<!-- 비밀번호  -->
	<select id="uPwCheck" parameterType="String" resultType="uv">
		select uNo, uId, uPw from user where uDely="N" and uId=#{uId};
	</select>
	<!-- 유저 조회 메소드  -->
	<select id="userONE" parameterType="uv" resultType="uv">
		select * from user where uDely="N" and uId=#{uId};

	</select>
</mapper>