<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
<!-- 시작 페이지 first page -->
<!-- welcome-file-list 태그는 Doucument Root -->
<!--  src/main/webapp이 Document Root -->
<!-- 톰캣 기본이 src/main/webapp 이쪽으로 잡힌다  -->
<!-- 서버 쪽 server.xml d에서 Context의 docBase에 명시되어 있는 경로가 webapps/ 밑으로 들어오면서 Document Root-->
<welcome-file-list>
	<welcome-file>/WEB-INF/views/index.jsp</welcome-file>
</welcome-file-list>

  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
				classpath:config/root-context.xml
				classpath:config/security.xml
		</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>appServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:config/servlet-context.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>appServlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  	 <!-- 파일 업로드 설정 제한  -->
	 <!-- fileupload multipart-config maxSize set -->
		<multipart-config>
	        <max-file-size>104857600</max-file-size> <!-- 10MB limit -->
	        <max-request-size>104857600</max-request-size>
	        <file-size-threshold>0</file-size-threshold>
	    </multipart-config>
	    <!-- fileupload multipart-config -->
  
  <servlet>
    <description></description>
    <display-name>UserService</display-name>
    <servlet-name>UserService</servlet-name>
    <servlet-class>com.ss.demo.service.UserService</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>UserService</servlet-name>
    <url-pattern>/UserService</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>UserServiceImpl</display-name>
    <servlet-name>UserServiceImpl</servlet-name>
    <servlet-class>com.ss.demo.service.UserServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>UserServiceImpl</servlet-name>
    <url-pattern>/UserServiceImpl</url-pattern>
  </servlet-mapping>
  
  <!-- 웹 소켓 비동기 처리 -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>
  
</web-app>